.imgcontato {
  width: 105%;
  height: 700px;
}

.topico {
  text-align: center;
  border-radius: 5px;
  font-weight: bolder;
  background-color: #c0c0c0;
  margin-top: 20px;
  margin-left: 30px;
}

.cardoso {
color: grey;
margin-left: 30px;
}

.para {
  text-align: justify;
  padding: 7px;
background-color:#c0c0c0;
border-radius: 5px;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 30px;
}

b .tituloinfos {
  margin-left: 30px;
}

.margintopdez {
  margin-top: 10px;
}
