/* ÁREA DE TÍTULO SUPERIOR */

.area_titulo{
  height: 140px;
  position: relative;
  z-index: -5;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(255,255,255,0.8);
  background-image: url(../imagens/fundo.jpg);
  display: block;
}

.area_titulo:after{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -10;
  content: '';
}

.page-title h1{
  text-transform: uppercase;
}

/* AREA DE CONTEUDO */
#pagina-categoria .loja{
  margin-top: 80px;
  margin-bottom: 80px;
}

/* CATEGORIAS */
#pagina-categoria ul.menu-categorias{
  list-style: none;
}

/* CADA PRODUTO */
#pagina-categoria a.btn.comprar{
  background-color: #C3DB5D;
  color: #fff;
}

#pagina-categoria a{
  color: #373339;
}

#pagina-categoria h6.titulo-sidebar{
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 0px;
}

#pagina-categoria h6{
  margin-top: 10px;
}

#pagina-categoria .product-img img{
  width: 250px;
}
