.footer_area{
  background-color: #373339;
  color: #FFFAF0;
}

.footer_area a{
  color: #FFFAF0;
}

.footer-logo img{
  width: 160px;
}

.footer-logo img{
  width: 200px;
}

.footer_menu_loja ul{
  display: flex;
}

.footer_menu_loja ul li, .footer_menu li{
  list-style: none;
}

.footer_menu{
  display: flex;
  flex-wrap: wrap;
}

.menu-secundario{
  margin-top: 45px;
}

#rodape li a{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-weight: 400;
  padding: 0 10px;
  text-transform: capitalize;
}

p.direitos{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255,255,255,0.6);
}


.destaques, .destaques_prod {
  text-align: center;
  position: relative;
}

#destaqueMenorHome1_gp {
  background: url("../imagens/destaques/destaque1b.jpg") no-repeat center center;
  width: 90%;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  vertical-align: middle;
}

#destaqueMenorHome2_gp{
  background: url("../imagens/destaques/destaque2b.jpg") no-repeat center center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  vertical-align: middle;
}

#destaqueMenorHome3_gp{
  background: url("../imagens/destaques/destaque3b.jpg") no-repeat center center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  vertical-align: middle;
}

#destaqueMenorHome4_gp{
  background: url("../imagens/destaques/destaque4b.jpg") no-repeat center center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  vertical-align: middle;
}

.botaoMenorHome1{
  width: 100%;
  font-size: 1.2rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  border-radius: 5%;
  margin-top: 110%;
}

.botaoMenorHome1:hover{
  background-color: black;
  color: white;
}

.destaqueMaior1_img{
  background: url("../imagens/destaques/destaque5b.jpg") no-repeat center center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  vertical-align: middle;
}

.txtMaiorHover1{
  display:none;
}

.destaqueMaior1_img:hover{
  background: url("../imagens/destaques/destaque5bpb.jpg") no-repeat center center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  vertical-align: middle;
  transition: 0.5s;
}

.destaqueMaior1_img:hover .txtMaiorHover1{
  display: block;
  height: inherit;
  width: inherit;
  margin: 30% auto;
  text-align:center;
  overflow: hidden;
  font-size: 2.5rem;
  color: black;
  transition: 0.5s;
}

.txtMaiorHover2{
  display:none;
}

.destaqueMaior2_img{
  background: url("../imagens/destaques/destaque6b.jpg") no-repeat center center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  vertical-align: middle;
}

.destaqueMaior2_img:hover{
  background: url("../imagens/destaques/destaque6bpb.jpg") no-repeat center center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  vertical-align: middle;
  transition: 0.5s;
}

.destaqueMaior2_img:hover .txtMaiorHover2{
  display: block;
  height: inherit;
  width: inherit;
  margin: 30% auto;
  text-align: center;
  overflow: hidden;
  font-size: 1.5em;
  color: black;
  transition: 0.5s;
}

#produtosMaiores_gp .txtMaiorHover2:hover{
  display:block;
  text-align: center;
  overflow: hidden;
  font-size: 3rem;
  z-index: 10;
  color: black;
}

#bannerInfraHome {
  position: relative;
  background: url("../imagens/banner5b.jpg") no-repeat center center;
  height: 75vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  object-fit: cover;

}

.textoInfraHome{
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  width: 20%;
  margin-left: 8%;
  color: white;
}

.botaoBannerInfra{
  position: relative;
  /* margin-top: 10%; */
  width: 15%;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 5%;
  margin-left: 8%;
}

.botaoBannerInfra:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 2px solid black;
}

.footer_area{
  background-color: #373339;
  color: #FFFAF0;
}

.footer_area a{
  color: #FFFAF0;
}

.footer-logo img{
  width: 160px;
}

.footer-logo img{
  width: 200px;
}

.footer_menu_loja ul{
  display: flex;
}

.footer_menu_loja ul li, .footer_menu li{
  list-style: none;
}

.footer_menu{
  display: flex;
  flex-wrap: wrap;
}

.menu-secundario{
  margin-top: 45px;
}

#rodape li a{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-weight: 400;
  padding: 0 10px;
  text-transform: capitalize;
}

p.direitos{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255,255,255,0.6);
}


@media (max-width: 768px){

  /* cabecalho */

  button.navbar-toggler{
    margin-right: 20px;
  }

  .header-meta.d-flex.clearfix.justify-content-end{
    width: 100%;
    height: 60px;
    border-top: 1px solid #ebebeb;
    float: left;
  }
  .header_area .search-area form, .header_area .search-area form input{
    height: 60px;
    border-left: none;
  }

  .header_area .search-area{
    padding-right: 50px;
  }

  .user-login-info a, .cart-area a{
    line-height: 60px;
  }

  .navbar-brand img{
    width: 140px;
  }

  .navbar-nav{
    text-align: right;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  /* rodape */

  .footer-logo img{
    width: 120px;
    display: block;
    text-align: center;
  }

  .footer_menu_loja ul{
    margin-top: -25px;
  }

  .menu-secundario{
    /* margin-top: 0px; */
    display: none;
  }
}

  .carousel-inner .carousel-item img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  #destaqueMenorHome1_gp {
    height: 30vh;
  }
  #destaqueMenorHome2_gp {
    height: 30vh;
  }
  #destaqueMenorHome3_gp {
    height: 30vh;
  }
  #destaqueMenorHome4_gp {
    height: 30vh;
  }

  .botaoMenorHome1{
    width: 75%;
    font-size: 1.2rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 5%;
    margin-top: 80%;
  }

  .botaoMenorHome1:hover{
    background-color: black;
    color: white;
  }

  #produtosMaiores_gp {
    display: none;
  }

  .textoInfraHome{
    margin-left: 5%;
  }

  .botaoBannerInfra{
    width: 40vw;
    margin-left: 5%;
  }
}

@media (max-width: 375px){

  .botaoMenorHome1{
    width: 75%;
    font-size: 1.2rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 5%;
    margin-top: 55%;
  }

  .botaoMenorHome1:hover{
    background-color: black;
    color: white;
  }

  #bannerInfraHome {
    height:50vh;
  }

}


.acessos li{
  border-left: 1px solid #ebebeb;
}
