*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
.checktitulo{
  z-index: 1;
  opacity: 1 !important;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  background-image: none;
  float: left;
  position: absolute;
  text-align: center !important;
  font-size: 30px;
  top:-95px; left:6px;

}
.backbanner{
  background: url("../images/breadcumb.jpg") no-repeat center center;
width: 100%;
  height: 140px;
  opacity: 0.1;
  position: relative;
  top:0px;
  left:0px;

}

.end{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu';
    color: #000000;

}


@media (max-width: 576px){
.col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}


.primdiv label{
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins';
  color: #212529;
  text-transform: uppercase;
}

.row2{
  text-align: left;
  padding-top: 30px;
  padding-left: 15px;
}

.row4{

  border: 2px solid;
  border-color: #ebebeb;
  border-radius: 1px;
  padding: 30px;
}

.detalhesrow{
  color: gray;
  font-size: 12px;
  font-style: oblique;
}

.infospedido{
  color:black;
  font-size: 18px;
  font-family: 'Ubuntu';
  text-transform: uppercase;
  list-style-type: none;
  padding: 4px;
}

.infospedido2{
  color: #212529;
  font-size: 14px;
  font-family: 'Poppins';
  text-transform: uppercase;
  list-style-type: none;
  border-bottom: 0.5px solid #ccc;
  width: 100%;
  float: left;
  padding-top: 20px;

}

.infospedido2 p{
  float: left;

}
.row2 input{
    border: 1px solid;
    border-radius: 2px;
    border-color: #ebebeb;
    height: 40px;
}

.asterisco{
  color:red;
}

.teste2{
  float: left;
}

.clearboth{
  clear: both;
}

.margemlateral{
  margin-right: 50px;
}

.ffubuntu{
  font-family:'Ubuntu';
}

.botaocomprar{
  background-color: #3713d6;
  color: #FFF;
  font-family: 'Poppins';
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  margin-left: 15px;
}

.botaocomprar:hover{
  background-color: #e80b60;
}
